/*
* Name    : Metro
* Author  : Luqman B Shariffudin
* Version : 1.0
*/

/*External*/
/*====================================*/




/*General*/
/*====================================*/
body{
	background-color: #ffffff;
	font: 12px/normal arial, sans-serif;
}



/*Header*/
/*====================================*/
#header{
	height: 80px !important;
	background-color: #333;
}

#header #logo{
	width: 187px;
	height: 54px;
	margin: 12px 0 0 25px;
	float: left;
	background: url('img/logo.png') no-repeat;
}

#topMenu .topMenuDiv{
	height: 67px;
	float: left;
	padding: 0px 10px;
	font-size: 10px;
}

#topMenu .topMenuDiv,
#topMenu a{
	color:#ffffff;
	text-decoration: none;
	text-align: center;
	margin: 5px 0px 0px 4px;
}

#topMenu a .topMenuDiv:hover{
	background-color: #2a5385;
}

#topMenu .topIcon{
	margin: 2px auto;
}

#topMenu #topTime{
}

#topMenu #topNotificationLink{
	background-color: red;
}

#topMenu #topMessageLink{
	background-color: green;
}

#topMenu #topHomeLink{
	background-color: blue;
}

#topMenu #topLogoutLink{
	background-color: orange;
}

#topMenu #topDateIcon{
	width: 48px;
	height: 48px;
	background: url('img/topmenuicons.png') no-repeat;
}

#topMenu #topMessageIcon{
	width: 48px;
	height: 48px;
	background: url('img/messages.png') no-repeat;
}

#topMenu #topNotificationIcon{
	width: 48px;
	height: 48px;
	background: url('img/notifications.png') no-repeat;	
}

#topMenu #topHomeLinkIcon{
	width: 48px;
	height: 48px;
	background: url('img/topmenuicons.png') no-repeat;
	background-position: -48px 0px;
}

#topMenu #topLogoutLinkIcon{
	width: 48px;
	height: 48px;
	background: url('img/topmenuicons.png') no-repeat;
	background-position: -96px 0px;
}



/*Sidebar & Menu*/
/*====================================*/
#topMenuBar {
	width: 100%;
	background-color: #8B8B8B;
}

#topMenuBarBG{
	background: #eeeeee; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-8 */
	border-bottom: 1px solid #D1D1D1;
	position: absolute;
	top: 44px;
	height: 30px;
	width: 100%;
	z-index: -99;
}

#topMenuBar ul ul {
	display: none;
	padding: 5px 0;
}

#topMenuBar ul li:hover > ul {
	display: block;
}


#topMenuBar ul {
	list-style: none;
	position: relative;
	top: 0;
	padding: 0;
	margin: 0;
	display: inline-table;
}
	#topMenuBar ul:after {
		content: ""; clear: both; display: block;
	}

	#topMenuBar ul li {
		float: left;
		white-space: nowrap;
	}
		#topMenuBar ul li:hover {
			background: #4b545f;
		}
			#topMenuBar ul li:hover a {
				color: #fff;
			}
		
		#topMenuBar ul li a {
			display: block;
			padding: 5px 25px;
			color: #757575;
			text-decoration: none;
			line-height: 1.5em;
			color: white;
		}
			
		
	#topMenuBar ul ul {
		background: #5f6975; border-radius: 0px; padding: 0;
		position: absolute; top: 100%;
	}
		#topMenuBar ul ul li {
			float: none; 
			padding: 5px;
			border-bottom: 1px solid #575f6a; position: relative;
		}
			#topMenuBar ul ul li a {
				/*padding: 15px 40px;*/
				color: #fff;
			}	
				#topMenuBar ul ul li a:hover {
					background: #4b545f;
				}
		
	#topMenuBar ul ul ul {
		position: absolute; left: 100%; top:0;
	}



#sidebar{
	width: 250px;
}

#sidebarBG{
	width: 250px;
	background-color: #383838;
}

#sidebar #searchBar
{
	margin: 10px;
	text-align: center;
	float: left;
}

#sidebar #searchBar #searchinput
{
	height: 29px;
	padding: 0 10px;
	border: none;
	float: left;
}

#sidebar #searchBar #searchbutton
{
	height: 29px;
	border: none;
	margin: 0;
	float: left;
	width: 30px;
}

#profileBlock{
	display: none;
	background-color: #F8F8F8;
	margin: 5px 10px;
	border: 1px solid #D8D5D5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	width: 92%;
}

.profileImageBlock{
	float: left;
	padding: 10px;
}

.profileTextBlock{
	overflow: hidden;
	padding: 10px;
	padding-left: 0px;
	font-size: 11px;
}

#sidebar ul.sideMenuList{
	list-style-type: none;
	padding: 0;
	margin: 0;
	clear: both;
}

#sidebar ul.sideMenuList a{
	color: #ffffff;
	font-size: 15px;
	display: block;
	padding:15px;
	cursor: pointer;
	text-decoration: none;
	margin: 5px;
}

#sidebar ul.sideMenuList a:hover{

}

#sidebar ul.sideMenuList ul{
	width: 230px;
	margin: 0 auto !important;
}

#sidebar ul.sideMenuList ul a{
	padding: 10px 0;
}

ul.sideMenuList a.hasChild:hover,
ul.sideMenuList ul a.hasChild:hover{
	background: url('img/arrowdown.png') no-repeat;
	background-position: right;
}

#sidebar ul.sideMenuList ul a.hasChild{
	border: none;
	margin: 2px 0;
	font-weight: bold;
}

#sidebar ul.sideMenuList ul a.isOpened{
	
}

#sidebar ul.sideMenuList ul a.isClosed{
	
}

#sidebar ul.sideMenuList ul a.noChild{
	margin: 3px 0;
}

#sidebar ul.sideMenuList ul a.noChild:hover{
	background-color: #666666;
}

#sidebar ul.sideMenuList ul a:hover{
}

#sidebar ul.sideMenuList li{
	margin: 0;
}



/*Main Content*/
/*====================================*/
#breadcrumbs{
	margin: 12px 20px;
	padding: 10px;
	background-color: #E4E4E4;
}

#pagetitle h1,h1{
	margin: 10px 20px;
	font-weight: normal;
	color: #4E84B6;
}

#content{
	margin: 0 15px 15px 0px;
}

#content #configViewer{
	width: 97%;
	margin: 15px auto;
}

#content .tableContent{
	width: 97%;
	margin: 0 auto;
	border-collapse: collapse;
	border:2px solid #439922;
}

#content .tableContent th{
	text-align: left;
	padding: 10px;
	color: white;
	font-size: 14px;
	text-transform: uppercase;
}

#content th.listingHead{
	background-color: #5190B4 !important;
	border: 1px solid #84A4C7;
}

#content .tableContent td{
	border:1px solid #b4b4b4;
	padding: 5px;
}

#content .tableContent tr:nth-child(even){
	/*background-color: #FDFDFD;*/
}

#content .tableContent tr:nth-child(odd){
	/*background-color: #F8FCFD;*/
}

.contentButtonFooter{
	text-align: right;
}



/*Footer*/
/*====================================*/
#bottom{
	padding-left: 20px;
	margin: 10px 0;
	font-size: 9px;
}



/*Others*/
/*====================================*/

/*-- buttons --*/
.inputButton{	
	border-style: solid;
	padding: 5px 10px;
	font-family: inherit;
	color: white;
	cursor: pointer;
	border-width: 0px;
}

.inputButton:hover,
.inputButton:focus,
.inputButton:active{
	background-color: #333333 !important;
}

.inputButton:active{	
	
}

/* overrides extra padding on button elements in Firefox */
.inputButton::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.inputButton:disabled{
	
}

#newMoveLTR, #newMoveRTL, #newMoveAllLTR, #newMoveAllRTL, #newSort{
	width: 40px;
}


/*-- textarea/inputtext --*/
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	background-color: white;
	border: 1px solid #CCC;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;	
	font-family: inherit;
	font-size: 13px;
}

.inputInput{
}


/*-- select dropdown --*/
select#nonSelectedGroup.inputList,
select#selectedGroup.inputList{
	/*height: 150px !important;*/
}

#content .tableContent select{
	background-color: transparent;
	border:1px solid #bbbbbb;
	width: 268px;
	padding: 5px;
	font-size: 12px;
	font-family: 'Helvetica',Arial,sans-serif;
	line-height: 1;
	border-radius: 0;
	/*height: 23px;*/
	/*-webkit-appearance: none;*/
}


/*-- notification --*/
.notificationError,
.notificationInfo{
	padding: 10px;
	margin: 10px;
	width: 400px;
	position: fixed;
	top:50%;
	left:50%;
	margin-left: -200px;
	z-index: 999999;
}

.notificationError{
	background-color: #FFD2D2;
	border: 5px solid #F16B6B;
}

.notificationInfo{
	background-color: #E0FFD2;
	border: 5px solid #A3D34F;	
}


/*-- menu icons --*/
.menuIcons{
	display: none;
}

#topMenuBar .menuIcons{
}

#sidebar .menuIcons{
}

#menu_icon_1{  }
#menu_icon_2{  }
#menu_icon_4{  }

